<h2 mat-dialog-title>Attendees</h2>
<mat-dialog-content>
  <div class="event-dialog__list">
    @for (a of data.attendees; track a.id) {
      <div [attr.data-testid]="'attendee-list-' + a.id" class="event-dialog__attendee">
        <div class="attendee-avatar attendee-avatar--sm">
          @if (a.avatarUrl) {
            <img [src]="a.avatarUrl" [alt]="a.name" />
          } @else {
            <span>{{ initials(a.name) }}</span>
          }
        </div>
        <div>
          <p class="event-dialog__attendee-name">{{ a.name }}</p>
          <p class="event-dialog__attendee-status">{{ a.rsvpStatus }}</p>
        </div>
      </div>
    }
  </div>
</mat-dialog-content>
